/*模板结构*/ 
.baseditBar .mobanBar .editBox .otherList li:nth-child(4){display:none;}  
.baseditBar .mobanBar .editBox .otherList li:nth-child(5){display:none;}
.edit-maincont .baseStyle .divLeft .nameDiv.on{background: #009583;}
.baseStyle{padding-top:0px;background: #fafbfd;} 
.baseStyle .divLeft{height:auto;min-height: 233px;}
.baseStyle .divRight{position: relative;height:auto;margin: 0 40px;z-index: 2;} 
.msgDiv .icon.resume_focus:after{width:28px;height: 28px;top: 1px;left: -7px;}
.hobbyicon .icon.resume_focus:after{width: 40px;height:40px;top:15px;left: 20px;}
.baseItem .icon.resume_focus:after{width: 41px;height: 41px;top: 14px;left: 2px;}
.baseStyle .fbottom_bg{background: url(../images/um0028/j1_bottom_bg.png) no-repeat 40px 0px;height: 113px;border-bottom: 15px solid #009586;}
/*editBtn*/
.baseStyle .baseItem .editBtn{left:-31px;}
.baseStyle .baseItem {margin-bottom: 20px;padding: 0 0 10px 15px;border: 2px solid #009583 !important;border-radius: 15px;}
.baseStyle .baseItem:last-of-type { margin-bottom: 0px !important; padding-bottom: 0px !important; }
.custDel .cust_delete{top: 10px;left:-1px;}
/*头像模块*/
.baseStyle .headDiv{width:150px;height:200px;border: 6px solid #fff;position: absolute;overflow: hidden;z-index: 2;right: 40px;margin-top: 20px;}
.baseStyle .headDiv img{display: block;cursor:pointer;}
.baseStyle .headDiv .headNotice{position: absolute;cursor:pointer;width: 100%;height: 100%;background-color: rgba(0,0,0,.3);text-align: center;padding-top: 164px;color: rgba(255,255,255,.5); opacity: 0;}
.baseStyle .headDiv:hover .headNotice{opacity:1;} 
/*基本信息模块*/
.baseStyle .msgDiv{width: 855px;float: left;margin: 60px 0 0 40px;padding: 0;}
.baseStyle .msgDiv .baseMsg{line-height:40px;color: #009583;float: left;}
.baseStyle .msgDiv .baseMsg a{float: left;padding-top:3px;color: #009583;margin-right: 6px;}
.baseStyle .msgDiv .baseDel .delete{top:6px;left:-21px;font-size: 16px;padding-left:11px;}
.baseStyle .msgDiv input{height:31px;float: left;}
/*姓名、求职意向*/
.baseStyle .nameDiv{padding: 12px 0 12px 40px;margin: 0;color: #fff;background-color: #009583;float: left;width: 100%;}
.baseStyle .nameDiv h1 {float: left; margin-right: 25px; }
.baseStyle .nameDiv h2{font-weight: lighter;float: left;margin-top: 35px;}
/*通用信息*/
.baseStyle .baseItem dl dt{padding:0px;position:relative;display: inline-block;height: 54px;}
.baseStyle .baseItem dl dt a{color: #0789d4;line-height: 65px;height: 65px;font-size:40px;}
.baseStyle .baseItem dl dt span{line-height: 54px;  color: #009586;}
.baseStyle .baseItem dl dt span div.Border {display: none; }
.baseStyle .baseItem .baseContent{margin: 0 20px 0 0;padding: 0;}
.baseStyle .baseItem .baseContent .conTitle {color: #009586;padding: 0 0 15px;}
.baseStyle .baseItem .baseContent .conTitle span.conTitle_company{width: 300px;}
.baseStyle .baseItem .baseContent .conTitle span.conTitle_post{width: 370px;}
.baseStyle .baseItem .baseContent .conDisc p { color: #000;}